<div class="ogm-graph-toolbar">
    <div class="ogm-graph-toolbar-button">
        <button @onclick="OnCreateNodeClick">Create node</button>
    </div>
    <div class="ogm-graph-toolbar-button">
        <button>Delete node</button>
    </div>
</div>
@code {
    [Parameter]
    public EventCallback OnCreateNodeClick { get; set; }
}
