.ogm-photo-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    overflow: auto;
    height: 90vh;
}

    .ogm-photo-list ::deep > .ogm-photo-thumbnail {
        margin: 5px;
    }

