@page "/photos"
@inject HttpClient Http

@if (photos == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="ogm-photo-list">
        @foreach (var ph in photos)
        {
            <PhotoView PhotoSource="@ph"></PhotoView>
        }
    </div>
}

@code {
    private Photo[] photos;

    protected override async Task OnInitializedAsync()
    {
        photos = await Http.GetFromJsonAsync<Photo[]>("https://jsonplaceholder.typicode.com/photos/?albumId=1");
    }
}
